@charset "UTF-8";

/*
alaranjado #DD743F
verde #325F60
verde fraco #7A7125
*/
@media screen  and (min-width: 768px) and (max-width: 992px){

body{
  background-image: linear-gradient(to top,#DD743F,#55789D);
}

  section#login{
    width: 80vw;
    height: 300px;
  }
  
  div.imagem{
    float: left;
    width: 30%;
    height: 100%;
  }
  .dv1form{
    float: right;
    width: 70%;
  }
} 





@media screen  and (min-width: 992px) {
  body{
    background-image: linear-gradient(to top,#DD743F,#55789D);
  }   


  section#login{
    width: 950px;
      
  }

  div.imagem{
    float: right;
    width: 50%;
    height: 100%;
  }

  .dv1form{
    float: left;
    width: 50%;

  }
  .dv1form h1{
    font-size: 2em;
  }

  .dv1form p{
    font-size: 1em;
    margin: 20px 0;
  }

.dv1form .png{
    display: block;
    width: 100%;
    height: 180px;
    text-align: center;
    cursor: pointer;
  }


  img{
    width: 40%;
  }

}